@font-face {
  font-family: 'Hellix';
  src: url('../../assets/fonts/Hellix/Hellix-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('../../assets/fonts/Hellix/Hellix-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('../../assets/fonts/Hellix/Hellix-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
