// == Breakpoints ===
$WIDTH-SP: 428px;
$WIDTH-MB: 768px;
$WIDTH-TB: 1024px;
$WIDTH-TB: 1024px;
$MAX-WIDTH-TABLE: 1280px;
$WIDTH-DT: 1200px;
$WIDTH-TV: 1440px;
$NAVIGATION-BOTTOM-HEIGHT: 77px;
$CARD-MIN-HEIGHT: 750px;
$CARD-MAX-HtEIGHT: 800px;

$ZINDEX_NAVIGATION-BOTTOM-HEIGHT: 99;

$ff-default: 'Hellix', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$transition: all 0.2s ease-in-out;
$transition-slow: all 0.5s ease-in-out;
$transition-fast: all 0.1s ease-in-out;
