.list {
  list-style: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &-horizontal {
    overflow-x: auto;
    display: -webkit-inline-box;

    scroll-snap-type: x mandatory;

    &__item {
      scroll-snap-align: start;
      margin-right: toRem(20px);
    }

    &:hover {
      scroll-snap-type: x mandatory;
    }
  }
  &-vertical {
    overflow-y: auto;
  }
}
