.color-primary {
  color: var(--color-primary-500);
}

.color-white {
  color: var(--color-white);
}

.color-dark {
  color: var(--color-dark);
}

.color-gray-light {
  color: var(--color-grey-700);
}

.color-gray-dark {
  color: var(--color-grey-800);
}

.text-center {
  text-align: center;
}
